<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/websites">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <span class="navbar-brand"">Websites</span>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/websites/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/user/{{model.userId}}/websites">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
                <a class="navbar-brand" href="#">New Website</a>
                <div class="navbar-text pull-right hidden-sm-plus">
                    <a ng-click="model.createWebsite(model.website)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Name
            </div>
            <ul class="list-group">
                <li ng-repeat="w in model.websites" class="list-group-item">
                    <a href="#/user/{{w.developerId}}/websites/{{w._id}}/pages">
                        {{w.name}}
                    </a>
                    <a href="#/user/{{w.developerId}}/websites/{{w._id}}" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-xs-12 col-sm-8 wbdv-right-pane">

        <label for="wname">Website Name</label>
        <input ng-model="model.website.name"
               class="form-control input-lg" i
               id="wname"
               placeholder="Website Name">

        <label for="description">Website Description</label>
        <textarea ng-model= "model.website.description"
                  class="form-control input-lg"
                  id="description"
                  rows="4">
        </textarea>
        {{model.website}}
    </div>
</div>


<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-user pull-right navbar-brand"></span>
        </a>
    </div>
</nav>