<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        <span class="sr-only">Error:</span>
        {{model.error}}
    </div>

    <form name="form1" novalidate>
    <p><label class="sr-only" for="username">username</label>
        <input ng-model="user.username"
               name="username"
               class="form-control input-lg"
               type="text"
               placeholder="username"
               id="username"
               required></p>
        <span ng-if="form1.$submitted && form1.username.$error.required">Username is needed</span>

    <p><label class="sr-only" for="password">password</label>
        <input ng-model="user.password"
               class="form-control input-lg"
               type="password"
               placeholder="password"
               id="password"
               name="password"
               required></p>
        <span ng-if="form1.$submitted && form1.password.$error.required">Password is needed</span>
    <p>



        <button type="submit"
                ng-click="model.login(user)"
                class="btn btn-primary btn-lg btn-block">
                Login
        </button>
    </p>

    <p>
        <a href="#/register"
           class="btn btn-success btn-lg btn-block">
            Register
        </a>
    </p>

    </form>
</div>
