input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    background-color: black;
    color: white;
}
.navbar{
    background-color: #40cc7d;
}
.navbar-text{
    color: white;
}

input[type]:focus, textarea:focus{
    border: 3px solid chartreuse;
}
input[type]{
    font-size: 16px;
}