.form-control:focus{
    border: 3px solid chartreuse;
}
img{
    width: 100%;
}
input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 100px;
    background-color: black;
    color: white;
    font-size: 2em;
    padding-bottom: 100px;
}
.navbar{
    background-color: #40cc7d;
}
.navbar-head{
    color: white;
}

.input-lg{
    height: 3em;
    font-size: 1em;
    padding-left: 10px;
}

.list-group-item{
    background-color: inherit;
}

.navbar-default .navbar-brand {
    color: white;
    padding-left: 25px;
    padding-right: 15px;
}

.pull-right{
    padding-right: 15px;
}