<form action="/api/upload" method="post" enctype="multipart/form-data">
    <div class="container">

        Name:
        <input type="text" placeholder="Your Name" ng-model="model.widget.widgetType"
               class="form-control"/>
        Text:
        <input type="text" placeholder="Text" ng-model="model.widget.pageId"
               class="form-control"/>
        URL:
        <input type="url" placeholder="URL" ng-model="model.widget.url"
               class="form-control"/>
        Width:
        <input type="text" name="width" placeholder="Width" ng-model="model.widget.width"
               class="form-control"/>
        Upload File:
        <input type="file" name="myFile" class="form-control"/>

    </div>


    <div class="container dow">
        <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
        <input name="userId" value="{{model.userId}}" style="display: none"/>
        <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
        <button class="btn btn-primary btn-block" type="submit">
            Upload Image
        </button>
    </div>

    <div class="container">
        <a class="btn btn-danger btn-block"
           ng-click="model.del()">Delete</a>
    </div>

</form>