<div class="container">
    <div class="form-group">
        <!--<label for="inputname">Text</label>-->
        <!--<textarea class="form-control"-->
        <!--id="inputname"-->
        <!--ng-model="model.widget.text"></textarea>-->

        <div ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'quote'],
            ['bold','italics','underline','strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
            ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html', 'insertImage','insertLink', 'wordcount', 'charcount']]">
        </div>

    </div>
    <a class="form-control btn btn-danger"
       ng-click="model.del()">
        Delete
    </a>

    <a class="btn btn-success btn-block topp"
       ng-click="model.update()">Update</a>

</div>
