<div class="container-fluid">
    <h1>Login</h1>
    <p>{{model.hello}}</p>
    <form>
    <p><label class="sr-only" for="username">username</label>
        <input ng-model="user.username"
               class="form-control input-lg"
               type="text"
               placeholder="username"
               id="username"></p>

    <p><label class="sr-only" for="password">password</label>
        <input ng-model="user.password"
               class="form-control input-lg"
               type="password"
               placeholder="password"
               id="password"></p>

    <p>
        <a ng-click="model.login(user)"
           class="btn btn-primary btn-lg btn-block">
            Login
        </a>
    </p>

    <p>
        <a href="#/register"
           class="btn btn-success btn-lg btn-block">
            Register
        </a>
    </p>

    </form>
</div>
