<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="img-name">Name</label>
            <input type="text"
                   class="form-control input-lg"
                   id="img-name"
                   placeholder="A rose in May">
        </div>
        <div class="form-group">
            <label for="img-txt">Text</label>
            <input type="text"
                   class="form-control input-lg"
                   id="img-txt"
                   placeholder="Here's a flower in summer">
        </div>

        <label for="basic-url">URL</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">http://</span>
            <input type="text"
                   class="form-control input-lg"
                   id="basic-url"
                   value="bit.ly/flower.jpg"
                   ng-model="model.widget.url>
        </div>
        <div class="form-group">
            <label for="points"><br>Width</label>
            <input type="range"
                   class="form-control input-lg"
                   value = "100"
                   id="points"
                   min="0" max="100" step="25"
                   ng-model="model.widget.width>
        </div>
        <div class="form-group">
            <label class="btn btn-default btn-primary btn-block btn-file btn-lg">
                Upload Image <input type="file" style="display: none;">
            </label>
        </div>
        <a class="btn btn-danger btn-lg btn-block"
           ng-click="model.del()">Delete</a>

        <a class="btn btn-success btn-lg btn-block"
           ng-click="model.update()">Update</a>

    </form>
</div>
