<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/websites/{{model.websiteId}}/pages/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <span class="navbar-brand">pages</span>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/websites/{{model.websiteId}}/pages/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/user/{{model.userId}}/websites/{{model.websiteId}}/pages/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <span class="navbar-brand">Add page</span>

        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Name
            </div>
            <ul class="list-group">
                <li ng-repeat="p in model.pages" class="list-group-item">
                    <a href="#/user/{{model.userId}}/websites/{{model.websiteId}}/pages/{{p._id}}/widgets">
                        {{p.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/websites/{{model.websiteId}}/pages/{{p._id}}" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 wbdv-right-pane">
        {{model.message}}
        <label for="name">Page Name</label>
        <input ng-model="model.page.name"
               class="form-control input-lg"
               id="name"
               value="About us">

        <label for="title">Description</label>
        <input ng-model = "model.page.description"
               class="form-control input-lg"
               id="title"
               value="Connect with us!">
        <a ng-click="model.createPage()"
           class="btn btn-primary btn-lg btn-block">
            Create
        </a>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-user pull-right navbar-brand"></span>
        </a>
    </div>
</nav>